.inn_slide3 {
  height: 100%;
  display: flex;
  position: absolute;
  padding-left: 20px;
  padding-left: 50px;
  flex-direction: row;
  transition: left 0.1s;
}

.abtinsp {
  height: 100%;
  display: flex;
  font-size: 3.7vmin;
  font-family: libre;
  font-family: lato3;
  align-items: center;
  line-height: 5.7vmin;
  white-space: nowrap;
  justify-content: center;
  margin: 0px 40px 0px 20px;
}

.abtinsp p span {
  font-size: 3vmin;
}

.insp_cont {
  height: 100%;
  display: flex;
  padding: 0px 30px;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.insp_type {
  margin-bottom: 7px;
  align-self: center;
  font-family: lato4;
  font-style: italic;
}

.insp {
  height: 50%;
  position: relative;
  margin-bottom: 30px;
}

.insp video {
  height: 100%;
}

.link_to_project {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.link_to_project:hover {
  background: rgba(0, 0, 0, 0.5);
}

.insp_det {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.insp_det_last {
  opacity: 0;
}

.insp5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.insp_mylinks {
  display: flex;
  font-size: 18px;
  font-family: lato3;
  flex-direction: row;
  justify-content: space-between;
}

.insp5 a {
  display: flex;
  color: inherit;
  margin: 0px 20px;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.insp5 a p {
  padding-bottom: 3px;
  border-bottom: 1px dashed #ff0000;
}

.insp5 a i {
  color: #000;
  font-size: 18px;
  margin-right: 10px;
}

.conc_tit p {
  margin: 0;
  font-family: lato4;
  font-size: 0.95rem;
  margin-right: 15px;
  border-bottom: 1px dashed red;
}

.conc_info {
  font-family: lato3;
  font-size: 0.95rem;
}
